@import url(https://fonts.googleapis.com/css?family=Indie+Flower);

h1 {
    margin: 50px 0;
    color: #fff;
    font-family: 'Indie Flower', cursive;
    font-size: 48px;
    font-weight: normal;
    text-align: center;
}
a {
    padding: 0 10px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 50%, rgb(49, 170, 226) 50%);
    background-position: 0 0;
    background-size: 200% auto;
    transition: .3s;
    font-size: 80px;
    text-align:center;
}
a:hover {
background-position: -100% 0;
color: #fff;
}

body{
    background-image: url('../images/books.jpg');
    /* 画像を常に天地左右の中央に配置 */
    background-position: center center;
    /* 画像をタイル状に繰り返し表示しない */
    background-repeat: no-repeat;
    /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
    background-attachment: fixed;
    /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
    background-size: cover;
    /* 背景画像が読み込まれる前に表示される背景のカラー */
    background-color: #464646;
}
.btn-circle-fishy {
    display: inline-block;
    text-decoration: none;
    color: #000000;
    width: 200px;
    height: 200px;
    line-height: 200px;
    border-radius: 50%;
    text-align: center;
    overflow: hidden;
    background-image: linear-gradient(45deg, #709dff 0%, #91fdb7 100%);
    transition: .4s;
}

.btn-circle-fishy:hover {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
}
.btn-circle-fishy2 {
    display: inline-block;
    text-decoration: none;
    color: #000000;
    width: 200px;
    height: 200px;
    line-height: 200px;
    border-radius: 50%;
    text-align: center;
    overflow: hidden;
    background-image: linear-gradient(45deg, #709dff 0%, #91fdb7 100%);
    transition: .4s;
}

.btn-circle-fishy2:hover {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
}
.button_wrapper {
    text-align:center;
}
.button_wrapper2 {
    text-align:center;
    margin-top: 350px;
}
.text {
    text-align: center;
    margin-top: 5%;
}
.btn-flat-border {
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color: #67c5ff;
    border: solid 2px #67c5ff;
    border-radius: 3px;
    transition: .4s;
  }
  
  .btn-flat-border:hover {
    background: #67c5ff;
    color: white;
  }