@import url(https://fonts.googleapis.com/css?family=Indie+Flower);

h1 {
    margin: 50px 0;
    color: #fff;
    font-family: 'Indie Flower', cursive;
    font-size: 48px;
    font-weight: normal;
    text-align: center;
}
body{
    background-image: url('../images/books.jpg');
    /* 画像を常に天地左右の中央に配置 */
    background-position: center center;
    /* 画像をタイル状に繰り返し表示しない */
    background-repeat: no-repeat;
    /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
    background-attachment: fixed;
    /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
    background-size: cover;
    /* 背景画像が読み込まれる前に表示される背景のカラー */
    background-color: #464646;
}
.btn-circle-fishy {
    display: inline-block;
    text-decoration: none;
    color: #000000;
    width: 200px;
    height: 200px;
    line-height: 200px;
    border-radius: 50%;
    text-align: center;
    overflow: hidden;
    background-image: linear-gradient(45deg, #709dff 0%, #91fdb7 100%);
    transition: .4s;
}

.btn-circle-fishy:hover {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
}
.btn-circle-fishy2 {
    display: inline-block;
    text-decoration: none;
    color: #000000;
    width: 200px;
    height: 200px;
    line-height: 200px;
    border-radius: 50%;
    text-align: center;
    overflow: hidden;
    background-image: linear-gradient(45deg, #709dff 0%, #91fdb7 100%);
    transition: .4s;
}

.btn-circle-fishy2:hover {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
}
.button_wrapper {
    text-align:center;
}
.text {
    text-align: center;
    margin-top: 5%;
}