<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>完成ページ</title>
</head>
<body>
    <h1>完成ページ</h1>
        <hr>
            <div>
                {{ tester }}
                {% for element in element_s %}
                <div>
                    <hr>{{ element.path }}:{{ element.name }}<hr>
                </div>
                {% endfor %}
            </div>
            <hr>
            <form action="/user/list/" method="POST">
                {% csrf_token %}
                <div><input type="submit" name="リストページに戻る" value="戻る"></div>
            </form>
        <hr>
    </div>
</body>
</html>