{% extends 'user/tegoshiBase.html' %}

{% block content %}

<h1>しりとり Beta ver2.3</h1>
<div>
    <table>

        <tr>
            <th>新規作成</th>
            <td>
                <form action="/user/list_2/" method="POST">
                    {% csrf_token %}
                    <div>
                        <input type="textbox" name="newTheme" placeholder="テーマ"></input>
                        <input type="submit" name="newButton" value="新規作成"></input>
                    </div>
                </form>
            </td>
        </tr>
        
        <tr>
            <th>未完成</th>
            {% for incomplete in ideatree_incomp %}
            <td>
                <a href="/user/hikaruPath/?ideatreeid={{ incomplete.id }}">
                    <input type="button" name="dummy" value="{{ incomplete.name }}"></input>
                </a>
            </td>
            {% endfor %}
        </tr>
        
        <tr>
            <th>完成</th>
            {% for complete in ideatree_comp %}
            <td>
                <a href="/user/completed/?ideatreeid={{ incomplete.id }}">
                    <input type="button" name="dummy" value="{{ incomplete.name }}"></input>
                </a>
            </td>
            {% endfor %}
        </tr>
        
    </table>
</div>

{% endblock %}