{% extends 'user/tegoshiBase.html' %}

{% block content %}

<h1>List</h1>
<div>
    <table overflow: scroll;>
        <tr>
            <th>Create New</th>
            <td>
                <form action="/user/list_2/" method="POST">
                    {% csrf_token %}
                    <div>
                        <p class="box">
                            <input type="textbox" name="newTheme" placeholder="テーマ"></input>
                            <input type="submit" name="newButton" class="btn-flat-dashed-filled" value="+"></input>
                        </p>
                    </div>
                </form>
            </td>
        </tr>
        
        <tr>
            <th>un finished</th>
            {% for incomplete in ideatree_incomp %}
            <td>
                <p class="box">
                    <a href="/user/hikaruPath/?ideatreeid={{ incomplete.id }}" class="btn-flat-dashed-filled">
                        {{ incomplete.name }}
                    </a>
                </p>
            </td>
            {% endfor %}
        </tr>
        
        <tr>
            <th>Complete</th>
            {% for complete in ideatree_comp %}
            <td>
                <p class="box">
                    <a href="/user/completed/?ideatreeid={{ complete.id }}" class="btn-flat-dashed-filled">
                        {{ complete.name }}
                    </a>
                </p>
            </td>
            {% endfor %}
        </tr>
        
    </table>
</div>

{% endblock %}