{% extends 'user/tegoshiBase.html' %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="miura.css">
    <meta charset="utf-8" />
    <title>ランダム</title>
</head>
<body>
    <h1>しりとり Beta ver2.3</h1>
    <div>


        <div>
            <hr>
            <form method="POST">
                {% csrf_token %}
                <div><input type="submit" name="button2" value="{{ ideatree1.id }}"></input></div>
                <div><input type="submit" name="button2" value="{{ ideatree2.id }}"></input></div>
                <div><input type="submit" name="button2" value="{{ ideatree3.id }}"></input></div>
                <div><input type="submit" name="button2" value="{{ ideatree4.id }}"></input></div>
            </form>
            <form method="POST">
                {% csrf_token %}
                <div>
                    {{ form.as_p }}
                    <input type="text" class="form-control" id="treeID" name="treeID" placeholder="ID入力" aria-label="ID入力" aria-describedby="basic-addon2">
                    <div style="text-align: center;">
                        <input class="btn btn-primary" type="submit" name="set" value="送信">
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>

{% endblock %}