{% extends 'user/tegoshiBase.html' %}

{% block content %}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="miura.css">
    <meta charset="utf-8" />
    <script>
        const CLASSNAME = "-visible";
        const TIMEOUT = 1500;
        const DELAY = 100;
        const $target1 = $(".title");
        const $target2 = $(".sentence");
        
        setInterval(() => {
            $target1.addClass(CLASSNAME);
        setTimeout(() => {
            $target2.addClass(CLASSNAME);
        }, DELAY);
        
        setTimeout(() => {
            $target1.removeClass(CLASSNAME);
        setTimeout(() => {
            $target2.removeClass(CLASSNAME);
        }, DELAY);
        }, TIMEOUT);
        }, TIMEOUT * 2);
        </script>
    <title>ツリー検索</title>
</head>
<body>
    <h1>ツリー検索</h1>
        <hr>
        {{ tester }}
        {% for element in element_s %}
        <div class="text">
            <h1 class="title">
              <span>{{ element.path }}:{{ element.name }}</span>
            </h1>
            {% endfor %}
        </div>
        <hr>
        <form method="POST">
            {% csrf_token %}
            <div>
                <p>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" id="treeID" name="treeID" placeholder="ID入力" aria-label="ID入力" aria-describedby="basic-addon2">
                    </div>
                </p>
            </div>
            <div style="text-align: center;">
                <input class="btn btn-primary" type="submit" name="set" value="送信">
            </div>
            <div style="text-align: center;">
                <input class="btn btn-primary" type="submit" name="random" value="ランダムに表示する">
            </div>
            <div style="text-align: center;">
                <input class="btn btn-primary" type="submit" name="random2" value="">
            </div>

            <div>


            </div>
        </form>
</body>
</html>
{% endblock %}

