{% extends 'user/tegoshiBase.html' %}

{% block content %}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="miura.css">
    <meta charset="utf-8" />
    <title>ツリー検索</title>
</head>
<body>
    <div style="text-align: center;">
        <div class="miuraFont">Idea Search</div>
    </div>

    <div class="card text-center">
        <div class="card-header">
            検索結果
        </div>
        <div class="card-body">
            <h5 class="card-title">６桁のpasscodeを入力してください</h5>
            <p class="card-text">初めページを開いたときはデフォルトで１つ検索されています</p>
            <a href="/user/completed/?ideatreeid={{ ideatree_search.id }}">
                <input class="btn btn-primary" type="button" name="search" value="{{ ideatree_search.name }}"></input>
            </a>
            <form method="POST">
                {% csrf_token %}
                <div>
                    <p>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" id="treeID" name="treeID" placeholder="ID入力を入力してください" aria-label="ID入力" aria-describedby="basic-addon2">
                        </div>
                    </p>
                </div>
                <div style="text-align: center;">
                    <input class="btn btn-primary" type="submit" name="set" value="送信">
                </div>
            </form>
        </div>
    </div>

    <br>

    <div class="card text-center">
        <div class="card-header">
            ランダム検索
        </div>
        <div class="card-body">
            <div style="text-align: center;">
                <a href="/user/completed/?ideatreeid={{ ideatree1.id }}">
                    <input class="btn btn-primary" type="button" name="random" value="{{ ideatree1.name }}"></input>
                </a>
                <a href="/user/completed/?ideatreeid={{ ideatree2.id }}">
                    <input class="btn btn-primary" type="button" name="random" value="{{ ideatree2.name }}"></input>
                </a>
                <a href="/user/completed/?ideatreeid={{ ideatree3.id }}">
                    <input class="btn btn-primary" type="button" name="random" value="{{ ideatree3.name }}"></input>
                </a>
                <a href="/user/completed/?ideatreeid={{ ideatree4.id }}">
                    <input class="btn btn-primary" type="button" name="random" value="{{ ideatree4.name }}"></input>
                </a>
                <p>上の４つはランダムで表示しています</p>
                <form method="POST">
                    {% csrf_token %}
                    <input class="btn btn-primary" type="submit" name="re_random" value="再度ランダムに表示する">
                </form>
            </div>
        </div>
    </div>
</body>
</html>
{% endblock %}

