{% extends 'user/tegoshiBase.html' %}

{% block content %}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="miura.css">
    <meta charset="utf-8" />
    <title>ツリー検索</title>
</head>
<body>
    <h1>ツリー検索</h1>
        <hr>
            <div>
                {{ tester }}
                {% for element in element_s %}
                <div>
                    <p class="text-Dark">{{ element.path }}:{{ element.name }}<p>
                </div>
                {% endfor %}
            </div>
            <hr>
        <form method="POST">
            {% csrf_token %}
            <div>
                <p>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" id="treeID" name="treeID" placeholder="ID入力" aria-label="ID入力" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <input class="btn btn-primary" type="submit" name="set" value="送信">
                        </div>
                    </div>

                </p>
            </div>
            <div><input type="submit" name="random" value="ランダムに表示する"></div>
        </form>
        <hr>
    </div>
</body>
</html>
{% endblock %}
