{% extends 'user/tegoshiBase.html' %}

{% block content %}

<h2>完成します。よろしいですか？</h2>
<form action="/user/complete/" method="POST">
    {% csrf_token %}
    <div><input type="hidden" name="nowId" value="{{ ideatree_obj.id }}"></input></div>
    <div><input type="textbox" name="newName" value="{{ ideatree_obj.name }}"></input></div>
    <div><input type="textbox" name="newOverView" value="{{ ideatree_obj.overview }}"></input></div>
    <div><input type="submit" name="completeButton" value="完成"></input></div>
</form>
<a href="/user/complete/?ideatreeid={{ ideatree_obj.id }}">
    {{ ideatree_obj.id }}完成確定
</a>

{% endblock %}